@import "tailwindcss";

@theme {
  --color-lpu-maroon: #7d0006;
  --color-lpu-red: #ad0009;
  --color-lpu-gold: #f0b600;
  --font-poppins: "Poppins", "Segoe UI", Arial, sans-serif;
}

@custom-variant dark (.admin-dark &);

/* Custom Flat Maroon Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: var(--color-lpu-gold);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-lpu-red);
}

.admin-dark ::-webkit-scrollbar-track {
  background: #1c1c1f;
}
.admin-dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
}
.admin-dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-lpu-gold);
}
